<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detalhes do Ninja</title>
    <link rel="stylesheet" th:href="@{/css/detalhes-ninja.style.css}">
</head>
<body>
    <h1>Ninja - <span th:text="${ninja.nome}"></span> | RANK: <span th:text="${ninja.rank}"></span></h1>
    <img th:src="@{${ninja.imageUrl}}" alt="Imagem do Ninja">
    <h2>Email: <span th:text="${ninja.email}"></span></h2>
    <h2>Idade: <span th:text="${ninja.idade}"></span></h2>
    <h2>
        Missão: <span th:if="${ninja.missao != null}" ><span th:text="${ninja.missao.nome}"></span> - Dificuldade <span th:if="${ninja.missao != null}" th:text="${ninja.missao.dificuldade}"></span></span>
        <span th:unless="${ninja.missao != null}">Missão não registrada</span>
    </h2>
    <a th:href="@{/ninjas/ui/listar}">Voltar</a>
</body>
</html>